<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>765551501572-mhkft5kumcs45qoaiajvmpcoihsi37gf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765551501572-mhkft5kumcs45qoaiajvmpcoihsi37gf</string>
	<key>API_KEY</key>
	<string>AIzaSyBa0ATbTzwOYH3ngZigqTx44dEGDoX5j4E</string>
	<key>GCM_SENDER_ID</key>
	<string>765551501572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fun.fleet.fleet</string>
	<key>PROJECT_ID</key>
	<string>fleet-9a984</string>
	<key>STORAGE_BUCKET</key>
	<string>fleet-9a984.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765551501572:ios:3b2f3f4cac422de2</string>
	<key>DATABASE_URL</key>
	<string>https://fleet-9a984.firebaseio.com</string>
</dict>
</plist>